<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name = "viewport" content = "width ">
    <link rel="stylesheet" type = "text/css" 
    href = "style.css">
    <title>Name of Our Project</title>
</head>


<body>
    <div class="transbox">
    <h1>Spotify Project</h1>
    <h2>About Us</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing 
        elit. Quas eligendi, atque rerum officia commodi 
        tempora laborum dicta magni repellat numquam 
        laboriosam enim, explicabo tempore eos aut,
         voluptatibus blanditiis reprehenderit sapiente?
    </p>

    <p>
        Lets go
        <a 
        href="{{ url_for('login') }}">
        <img alt ="image" src = "Login2.png" width = "50" align>
        </a>
    </p>

    </div>
</body>
</html>