<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width ">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
    <title>SpotiNet</title>
</head>


<body>
<div class="transbox">
    <h1>SpotiNet</h1>
    <h2>About Us</h2>
    <p>
        SpotiNet offers users a new way to discover new music. Away with monotonous scrolling and
         navigate through intricate nets to discover your next favourite artists!
    <p>
        Let's go
        <a
                href="{{ url_for('login') }}">
            <img src="{{ url_for('static', filename='img/login2.png') }}" alt="image" width="50" class="logIn">
        </a>
    </p>

</div>
</body>
</html>